.settings-container {
  background-color: $page-background;
  height: 100%;
  display: flex;
  justify-content: end;
}

.settings-menu-container {
  margin-top: 20%;
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  width: 80%;
}

.account-settings-container {
  background-color: $modal-background;
  width: 70%;
}

.settings-menu-text {
  color: $secondary;
  font-size: 2rem;
}

.content-box {
  background-color: $page-background;
}
