$nav-bar-width: 20rem;
.account-settings-container {
  overflow: auto;
}

.content-container {
}

.settings-container {
  background-color: $page-background;
  height: 100%;
  display: flex;
  justify-content: end;
  user-select: none;
}

.settings-menu-container {
  margin-top: 16rem;
  width: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 70%;
  height: 4rem;
  padding: 0.5rem 0;
  border-radius: 1rem;
}

.settings-menu:hover {
  background-color: rgba(34, 15, 65, 0.5);
}

.settings-menu.selected {
  background-color: $modal-background;
  border-radius: 1rem;
}

.settings-menu.selected > .settings-menu-text {
  color: white;
}

.account-settings-container {
  background-color: $modal-background;
  width: calc(100vw - $nav-bar-width - 17rem);
}

.settings-menu-text {
  color: $secondary;
  font-size: 1.5rem;
  cursor: pointer;
}

.content-box {
  background-color: $page-background;
}

.notification-settings-container {
  margin: 5rem 11rem;
}

.settings-page-container {
  background-color: $modal-background;
  width: calc(100vw - $nav-bar-width - 17rem);
  overflow: auto;
  user-select: none;
}

.settings-detail-divide {
  color: $page-background;
  border: solid 1px;
}

.notification-settings-menu {
  margin: 5rem 11rem;
}

.settings-title {
  margin: 5rem 11rem;
}

.notification-menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $page-background;
  border-radius: 1rem;
  min-height: 7rem;
  padding: 4% 10%;
  gap: 1.5rem;
}

.toggle-slide-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toggle-slide-box > h3 {
  margin: 0;
}

.settings-page-container p {
  margin: 0;
  font-size: 1.5rem;
}

#toggle-slide {
  display: none;
}

.toggle > label {
  cursor: pointer;
  display: inline-block;
  text-indent: -9999px;
  background-color: $modal-background;
  width: 3.8rem;
  height: 2rem;
  border-radius: 25px;
  position: relative;
  transition: 0.2s ease-out;
}

.toggle > label::after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background-color: $secondary;
  position: absolute;
  border-radius: 50%;
  left: 0.25rem;
  top: 0.25rem;
  transition: 0.2s ease-out;
}

#toggle-slide:checked + label::after {
  left: calc(100% - 1.5rem - 0.25rem);
  background-color: #fff;
}

.radio-box {
  display: flex;
  align-items: center;
}

.radio-box > p {
  margin-left: 1rem;
}

.radio-box > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid $secondary;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 0.2rem $page-background;
  transition: all 0.3s;
}

.radio-box > input:checked {
  background-color: white;
  border: 1px solid white;
  box-shadow: inset 0 0 0 0.2rem $modal-background;
}

.policy_innerbox {
  width: 100%;
  height: 100%;
}

.policy_title {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.policy_maintext {
  color: white;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.policy_sub_title {
  color: white;
}
