$border-color: #3b255e;

.extended-bar-big-container {
  position: absolute;
  height: 100%;
  transition: margin-left 0.7s; /* 부드러운 애니메이션을 위한 전환을 추가합니다. */
  background-color: $modal-background;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;
  flex-direction: column;
  z-index: 999999999;
  animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.extended-bar-closed {
  position: absolute;
  height: 100%;
  transition: margin-left 0.7s; /* 부드러운 애니메이션을 위한 전환을 추가합니다. */
  background-color: $modal-background;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;
  flex-direction: column;
  z-index: 999999999;
  animation: slide-out-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.extended-bar-container {
  flex-grow: 1;
  width: $extended-bar-width;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  animation: display-later 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.extended-bar-container-closed {
  display: none;
}

.extended-bar-contents {
  width: calc($extended-bar-width - 80px);
  width: calc($extended-bar-width - 80px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.extended-bar-search {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.extended-bar-search > img {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 3%;
  top: 20%;
  cursor: pointer;
}

.extended-bar-main-contents-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.extended-bar-main-contents-top-title {
  font-size: 1.5rem;
  color: white;
}

.extended-bar-main-reset {
  font-size: 1.3rem;
  color: $secondary;
}

.extended-bar-main-contents-user {
  height: 100%;
  overflow: auto;
}

.search-bar-input {
  height: 3.5rem;
  padding: 2rem 3.5rem 2rem 1rem;
  width: 100%;
  width: 100%;
  border: none;
  border-radius: 12px;
  margin-bottom: 28px;
  background-color: $selected-menu;
  color: white;
  font-size: 1.4rem;
}

.search-bar-input::placeholder {
  color: white;
  opacity: 40%;
}

.search-bar-bottom-contents {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  padding-bottom: 5rem;
}

.extended-bar-side-menu-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4rem;
  height: 100%;
  border-right: 2px solid $border-color;
}

.opacity-0 {
  opacity: 0;
}

.extended-bar-icon-frame {
  margin-bottom: 1.5rem;
}

.extended-bar-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.extended-bar-menu {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.extended-bar-divide-line {
  width: 100%;
}

.extended-bar-main-contents-box {
  height: 100%;
  flex-grow: 1;
  padding: 1rem 2rem;
  border-top: 2px solid $border-color;
}

.search-bar-filter-box {
  padding-top: 1.5rem;
  width: 100%;
  border-top: 2px solid $border-color;
}

@keyframes slide-in-left {
  0% {
    width: $nav-bar-width;
    width: $nav-bar-width;
  }
  100% {
    width: $extended-bar-width;
    width: $extended-bar-width;
  }
}

@keyframes slide-out-right {
  0% {
    width: $extended-bar-width;
    width: $extended-bar-width;
  }
  100% {
    width: $nav-bar-width;
    width: $nav-bar-width;
  }
}

@keyframes display-later {
  0% {
    display: none;
  }
  99% {
    display: none;
  }
  100% {
    display: flex;
  }
}
