.feed{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.feed-img {
    border-radius: 15px;
}

.feed-header {
    padding: 10px;
}

.feed-content-header {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.feed-like,
.feed-tag,
.feed-hits {
  display: flex;
  align-items: center;
}

.feed-tag {
    margin-left: 10px; /* feed-like와 조금 떨어지도록 설정 */
}
  
.feed-hits {
    margin-left: auto; /* 오른쪽으로 정렬 */
}

.feed-tag .tag:not(:first-child) {
    margin-left: 5px;
}