.feed{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.feed-img {
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.feed-header {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

.feed-header img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.feed-content-header {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.feed-like,
.feed-tag,
.feed-hits {
  display: flex;
  align-items: center;
}

.feed-tag {
    margin-left: 10px; /* feed-like와 조금 떨어지도록 설정 */
}
  
.feed-hits {
    margin-left: auto; /* 오른쪽으로 정렬 */
}

.feed-tag .tag:not(:first-child) {
    margin-left: 5px;
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment-nickname {
    font-weight: bold;
    margin-right: 10px; /* nickName과 content 사이의 간격 조정 */
}

.content-container{
    display: flex;
    align-items: center;
}

.content-onwer{
    font-weight: bold;
    margin-right: 10px;
}
