.follow-modal-input {
  height: 3rem;
  width: 100%;
  background-color: $selected-menu;
  border: none;
  border-radius: 0.6rem;
  color: white;
  font-size: 1.6rem;
  font-weight: lighter;
  padding: 1rem;
}

.follow-modal-input::placeholder {
  color: rgba(190, 183, 195, 0.451);
  font-size: 1.6rem;
}

.follow-modal-profile-img-container {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 50%; // 반지름이 컨테이너 크기의 50%인 원형으로 만듭니다.
  border: 2px solid $text-primary; // 원 테두리 추가
  margin-right: 1.4rem;
}

.follow-modal-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover; // 이미지가 컨테이너에 맞게 조절되도록 합니다.
}

.user-box-container {
  height: 40rem;
  overflow-y: auto;
}

.user-box {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem 0;
}

.user-box-left {
  display: flex;
  align-items: center;
}

.user-box-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-num-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-box-icon {
  width: 2rem;
  height: 2rem;
}

.user-box-num {
  color: white;
  font-size: 1.8rem;
}

.follow-modal-button {
  height: 3rem;
  width: 8rem;
  background-color: $secondary;
  border: none;
  border-radius: 0.6rem;
  color: white;
  font-size: 1.6rem;
  margin: 0 1rem;
}
