.modal-container {
  position: absolute;
  background-color: $modal-background;
  top: 50%;
  left: 70%;
  transform: translate(-70%, -50%);
  z-index: 2;
  padding: 2rem;
  border-radius: 12px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-left: 50%; /* 적절한 패딩 값으로 조정하세요. */
}

.modal-title {
  color: white;
  margin: 0;
}

.modal-close {
  width: 2rem;
}
