$text-primary: rgba(194, 175, 226);
$secondary: rgba(142, 124, 172);
$green: rgb(198, 219, 218);

$modal-background: rgba(34, 15, 65, 0.8);
$page-background: rgba(64, 46, 93);

$constellation-thumbnail-container: rgba(92, 48, 112, 0.1);
$star-list-container: rgba(253, 253, 253, 0.1);

$selected-menu: rgba(90, 65, 133, 0.35);
