<<<<<<< HEAD
$text-primary: rgba(194, 175, 226);
$secondary: rgba(142, 124, 172);

$modal-background: rgba(34, 15, 65, 0.8);
$page-background: rgba(64, 46, 93);
=======
$text-primary: rgba(194, 175, 226, 1);
$secondary: rgba(142, 124, 172, 1);

$modal-background: rgba(34, 15, 65, 0.8);
>>>>>>> ace17ac95c2443f88887f102afcbfea6e661cf05

$constellation-thumbnail-container: rgba(92, 48, 112, 0.1);
$star-list-container: rgba(253, 253, 253, 0.1);
