.heading {
  font-size: 36px;
  font-weight: bolder;
}

.title {
  font-size: 24px;
  font-weight: bolder;
}

.button-bold {
  font-size: 22px;
  font-weight: bolder;
}

.button-light {
  font-size: 22px;
  font-weight: lighter;
}

.body-1 {
  font-size: 18px;
  font-weight: bolder;
}

.body-1-1 {
  font-size: 18px;
  font-weight: normal;
  margin-right: 4rem;
}

.body-2 {
  font-size: 22px;
  font-weight: bold;
}

.body-3 {
  font-size: 22px;
  font-weight: lighter;
}

.body-4 {
  font-size: 20px;
  font-weight: bold;
}

.body-5 {
  font-size: 20px;
  font-weight: lighter;
}
